body {
background-color: rgb(0, 0, 0);
color: rgb(255, 255, 254);    
}
header  {
  border: solid 2px white;  
}
section {
  background: rgb(255, 145, 0);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}
div {
  margin-right: 20px;
}

